#sound_input {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 108px;
  .mute {
    color: var(--light-gray);
    width: 50px;
    @include flexCenter;
  }

  .sound_input_bar_cursor {
    appearance: none;
    height: 3px;
    background-color: var(--light-gray);
    width: 70px;

    // -webkit-slider-thumb, -moz-range-thumb, or -ms-thumb.

    &::-webkit-slider-thumb {
      appearance: none;
      height: 8px !important;
      width: 8px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
    }

    &::-moz-range-thumb {
      appearance: none;
      height: 8px !important;
      width: 8px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
    }
    &::-ms-thumb {
      appearance: none;
      height: 8px !important;
      width: 8px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
    }
  }
  @include desktop_breakpoint {
    display: flex;
  }
}
