.top_nav {
  $animationTime: 0.4s;
  background-color: var(--layer-1);
  overflow: hidden;
  user-select: none;
  .relative_wrap {
    position: relative;
    height: var(--nav-menu-height);
    .top {
      height: var(--nav-menu-height);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--layer-1);
      color: var(--font-primary);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      .logo {
        display: flex;
        align-items: center;
        color: var(--font-primary);

        > span {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 24px;
          width: 24px;
        }
      }
      > button {
        color: var(--font-secondary);
        padding: 5px;
        text-transform: capitalize;
        font-size: var(--font-sm);
      }
      .searchbar {
        display: none;
        background-color: var(--background-color);
        border: 1px solid var(--thin-border);
        height: 30px;
        justify-content: space-between;
        align-items: center;
        color: var(--font-primary);
        border-radius: 4px;
        outline: 2px solid transparent;
        width: 100%;
        &.focused {
          border-color: transparent;
          outline-color: var(--input-focus);
        }
        > button {
          color: inherit;
          width: 30px;
          height: 30px;
        }
        > input {
          background-color: inherit;
          color: inherit;
          border: none;
          outline: none;
          height: 100%;
          padding-left: 10px;
          width: calc(100% - 30px);
        }
      }
    }
  }
  .link {
    color: var(--font-primary);
    text-decoration: none;
    font-size: var(--font-md);
    white-space: nowrap;
  }

  @include tablet_breakpoint {
    width: 40%;
    min-width: 190px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid var(--thin-border);
    padding: 0 10px;
    .relative_wrap {
      height: 120px;
      .top {
        height: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .logo {
          height: 55px;
          font-size: var(--font-lg);
          > .link {
            font-size: inherit;
          }
        }
        > .signin_btn {
          display: none;
        }

        > .searchbar {
          display: flex;
          width: 100%;

          margin-bottom: 5px;
        }
      }
    }

    > .inner_nav {
      position: static;
      height: 90%;
      width: 100%;
      overflow: hidden;
      transition: none;
      padding: 0 10px;
      > ul {
        padding: 30px 0 0 0;
        > .link_wrap {
          margin: 1px 0;
          > .link {
            display: flex;
            align-items: center;
            padding: 0 5px;
            border-radius: 5px;
            height: 35px;
          }
          .title {
            font-size: var(--font-sm);
            word-break: keep-all;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
