@font-face {
  font-family: "San_Francisco";
  src: local("San_Francisco"),
    url(./fonts/San_Francisco/pro/SF-Pro-Display-Regular.otf) format("opentype");
}
@font-face {
  font-family: "San_Francisco_thin";
  src: local("San_Francisco_thin"),
    url(./fonts/San_Francisco/pro/SF-Pro-Display-Ultralight.otf)
      format("opentype");
}

:root {
  --background-color: #1f1f1f;
  --layer-1: #2e2e2e;
  --layer-2: #232323;
  --font-primary: #eeeeee;
  --font-secondary: #fa586a;
  --font-tertiary: #acacaf;
  --font-sm: 14px;
  --font-md: 18px;

  /* layout */
  --nav-menu-height: 45px;
  --nav-menu-padding-y: 5px;
}
#app {
  font-family: San_Francisco;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  letter-spacing: 0.5px;
  overflow: hidden;
  /* font-weight: 200; */
}
.page {
  background-color: var(--background-color);
  color: var(--font-primary);
  height: 100%;
  overflow: hidden;
}

button {
  background-color: transparent;
  /* outline: none; */
  border: none;
  border-radius: 3px;
  appearance: none;
  min-height: 35px;

  transition: background-color 0.1s ease;

  &:active {
    background-color: rgba(103, 147, 214, 0.6);
  }
}
